@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html{
    @apply bg-primary-bg;
    color-scheme: dark;
  }
}

@layer components {
  .header-shadow{
    box-shadow:  4px 4px 0px rgba(255, 0, 0, 0.25);
  }
  .main-bg{
    background: radial-gradient(circle at top right, #4c72d240 0%, rgba(0, 212, 255, 0) 40%),
    radial-gradient(circle at center left, #4c72d240 0%, rgba(0, 212, 255, 0) 40%),
    radial-gradient(circle at bottom right, #4c72d240 0%, rgba(0, 212, 255, 0) 40%);
  }
  .yt-bg {
    background: radial-gradient(circle, #FFFFFF 0%, #FFFFFF 20%,#00000000 20%);
  }
}

@media screen and (max-width: 740px) {
  #hide {
    visibility: hidden;
    display: none;
  }
}
